@use '../../styles/helpers' as *;

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: rem(24);
  width: 100%;
  padding-top: fluid(80, 50);

  @include mobile {
    flex-direction: column;
  }

  @include mobile-s {
    gap: rem(40);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    justify-content: space-between;
    border-top: var(--border);

    @include mobile {
      display: flex;
      gap: rem(40);
      flex-direction: column;
    }

    &:first-child {
      padding-top: fluid(60, 40);
    }

    &:last-child {
      padding-block: rem(25);

      & .footer__left-content {
        flex: 1;
      }
      & .footer__privacy {
        flex: 3;
      }

      @include mobile-s {
        flex-direction: column;
        padding-block: rem(40);
        gap: rem(24);
      }
    }
  }

  &__left-content {
    display: flex;
    flex-direction: column;
    gap: fluid(32, 24);
  }

  &__right-content {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    //gap: fluid(145, 32);

    @include mobile {
      gap: rem(40);
      flex-direction: column;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: fluid(98, 5);
    width: fit-content;

    @include mobile {
      width: 100%;
      //flex-direction: column;
    }

    & nav ul {
      display: flex;
      flex-direction: column;
      gap: rem(16);

      & li a {
        @include fluid-text(16, 14);
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  &__privacy {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: fluid(78, 10);

    @include mobile {
      gap: fluid(15, 7);
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  &__site-info {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    & span {
      @include fluid-text(14, 12);

      color: var(--color-gray-60);
      font-weight: 400;
    }
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart {
    @include fluid-text(16, 14);

    font-weight: 500;
    text-transform: uppercase;

    @include hover {
      color: var(--color-pink);
    }
  }

}

.copyright {
  font-weight: 500;
}
