@use '../../styles/helpers' as *;

.callback {
  display: flex;
  flex-direction: column;
  gap: fluid(40, 32);

  &__grid {
    display: flex;
    gap: fluid(20, 10);
    max-height: rem(380);

    @include mobile {
      flex-direction: column;
      max-height: inherit;
    }
  }

  &__form {
    max-width: rem(585);

    @include laptop {
      max-width: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-m);

    @include laptop {
      max-width: rem(580);
    }

    @include tablet {
      max-width: rem(300);
    }

    @include mobile {
      height: rem(200);
      max-width: 100%;
      border-radius: var(--border-radius-s);
    }
  }
}
