@use '../../styles/helpers' as *;

.custom-error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fluid(665, 425);
  gap: fluid(56, 24);
  background-color: var(--color-black-05);
  border-radius: var(--border-radius-m);

  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  //margin-inline: auto;
  margin-inline: var(--container-padding-x);
  padding-inline: var(--container-padding-x);

  @include mobile {
    border-radius: var(--border-radius-s);
  }

  &__title {
    @include fluid-text(105, 64);
    font-weight: 600;
    color: var(--color-gray);
    text-transform: uppercase;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: fluid(574, 370);
      @include mobile-s {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  & p {
    @include fluid-text(16, 15);
    font-weight: 400;
    max-width: rem(459);
    text-align: center;
  }
}