@use '../../styles/helpers' as *;

.company-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: fluid(32, 24);
  padding-block: var(--section-padding-y);
  background-color: var(--color-black-05);

  &__h2 {
    @include mobile {
      text-align: center;
    }
  }

  &__contact {
    @include fluid-text(20, 18);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(7);
    font-weight: 700;
    color: var(--color-black);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding-block: rem(24);
    padding-inline: fluid(32, 24);
    border-radius: fluid(8, 4);
    border: var(--border);
    background-color: var(--color-white);

    @include tablet {

      & {
        width: 100%;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  &__grid {

    grid-template-columns: rem(250) 1fr;

    @include tablet{
      grid-template-columns: rem(200) 1fr;
    }

    @include mobile{
      grid-template-columns: rem(150) 1fr;
    }

    @include mobile-s{
      grid-template-columns: rem(70) 1fr;
    }

    & .contact__name {
      @include fluid-text(15, 10);
    }

    & .contact__value{
      @include fluid-text(15, 12);
    }
  }

}
