@use '../../styles/helpers' as *;

.product-card {
  display: block;

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: fluid(510, 150);
      object-fit: cover;
      display: block;
      border-radius: var(--border-radius-m);
      margin-bottom: fluid(24, 16);

      @include mobile {
        border-radius: var(--border-radius-s);
      }
    }
  }

  &__sale-badge {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #F4A2C5;
    color: #fff;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 6px;
  }

  &__info {
    display: flex;
    gap: fluid(16, 6);
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &__category {
    @include fluid-text(12, 10);
    font-weight: 500;
    color: var(--color-black);
  }

  &__title {
    @include fluid-text(20, 16);
    font-weight: 600;
    color: var(--color-black);
    text-transform: uppercase;

    @include hover {
      opacity: .65;
    }
  }

  &__price {
    display: flex;
    gap: fluid(10, 8);
    align-items: center;
    white-space: nowrap;

    .price-new {

      @include fluid-text(20, 16);

      display: flex;
      gap: fluid(10, 4);
      align-items: center;
      font-weight: 500;

      & del {
        @include fluid-text(16, 12);
        opacity: 0.5;
        order: 2;
      }
      & ins {
        text-decoration-line: none;
        order: 1;
      }
    }

    & .price-discount {
      @include fluid-text(14, 10);

      order: 3;
      display: inline-flex;
      align-items: center;
      background-color: var(--color-pink);
      padding-block: rem(4);
      padding-inline: rem(4);
      color: var(--color-white);
    }

    .price-old {
      @include fluid-text(16, 12);
      text-decoration: line-through;
      opacity: .5;
    }
  }
}

.woocommerce-loop-product__title {
  @include fluid-text(20, 16);
  font-weight: 600;
  color: var(--color-black);
  text-transform: uppercase;

  @include hover {
    opacity: .65;
  }
}