@use '../../styles/helpers' as *;
@use '../Button/button';


.wc-block-components-button {
  @extend %btn;
}
.cart-page .quantity {
  display: flex !important;
}

.page-cart {
  display: flex;
  flex-direction: column;
  margin-top: fluid(60, 32);
  gap: fluid(40, 24);
  width: 100%;

  &__breadcrumb {
    margin-top: fluid(40, 24);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: fluid(32, 24);
    width: 100%;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    position: relative;
    column-gap: rem(20);
    padding-bottom: rem(24);
    border-bottom: var(--border);

    @include mobile {
      display: flex;
      gap: rem(16);
    }

    &--inner {
      display: contents;

      @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(8);
      }
    }
  }

  &__item-name {
    @include mobile {
      order: 1;
    }
  }

  &__item-total {
    @include mobile {
      order: 2;
    }
  }

  &__item-quantity {
    @include mobile {
      order: 3;
    }
  }

  &__thumb {
    border-radius: var(--border-radius-m);
    width: fluid(294, 140);
    height: fluid(230, 140);
    overflow: hidden;

    @include mobile {
      border-radius: var(--border-radius-s);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__label {
    @include fluid-text(14, 12);
    font-weight: 600;
    opacity: 0.5;

    @include mobile {
      display: none;
    }
  }

  &__value {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    @include mobile-above {
      margin-top: fluid(40, 15);
    }
  }

  &__category {
    font-size: rem(12);
    font-weight: 600;
  }

  &__title {
    font-size: rem(20);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__quantity {
    @include fluid-text(20, 14);
    font-weight: 500;

  }

  &__delete {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    column-gap: fluid(100, 32);

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(32);
    }
  }

  &__note {
    display: flex;
    flex-direction: column;
    gap: fluid(20, 16);

    & label {
      @include fluid-text(14, 12);
      font-weight: 600;
      opacity: 0.5;
    }

    & textarea {
      @include fluid-text(14, 10);
      font-weight: 400;
      border: var(--border);
      transition: var(--transition-duration);
      border-radius: var(--border-radius-m);
      padding: rem(16);

      @include mobile {
        border-radius: var(--border-radius-s);
      }

      &:focus {
        border-color: var(--color-pink);
      }
    }

  }

  &__row {
    display: flex;
    flex-direction: column;

    @include mobile {
      display: contents;
    }

    &:first-child {
      gap: rem(40);
    }

    &:last-child {
      gap: rem(32);
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    gap: rem(17);

    @include mobile {
      order: 4;
    }
  }

  &__summary {
    @include fluid-text(24, 22);
    font-weight: 600;
  }

  &__group-fields {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    & label {
      @include fluid-text(16, 15);
      font-weight: 500;
    }
  }

  &__controls {
    display: flex;
    max-width: rem(545);

    & input {
      padding-inline: rem(16);
      padding-block: rem(8);
      font-size: rem(16);
      font-weight: 400;
      border: var(--border);
      transition: var(--transition-duration);
      border-radius: 100px 0 0 100px;
      width: 60%;
      height: rem(36);

      &:focus {
        border-color: var(--color-pink);
      }
    }

    & button {
      font-size: rem(14);
      font-weight: 500;
      width: 40%;
      height: rem(36);
      background-color: #FBE7F2;
      color: var(--color-black);
      border: var(--border);
      border-left: none;

      @include hover {
        background-color: var(--color-pink);
        color: var(--color-white);
      }
    }
  }

  &__group-button {
    border-radius: 0 100px 100px 0;
  }






}