@use '../../styles/helpers' as *;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: rem(32);
  position: relative;

  nav ul {
    @include fluid-text(16, 14);
    display: flex;
    align-items: center;
    gap: fluid-to-laptop(33, 20);

    li a {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__logo {
    @include abs-center;
  }
}

