@use '../../styles/helpers' as *;

.product-gallery {
  width: 100%;
  min-width: 0;

  &__main {
    width: 100%;
    height: fluid(551, 288);
    overflow: hidden;
    border-radius: var(--border-radius-m);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__thumbs {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius-m);

    & .swiper-wrapper {
      display: flex;
    }

    & .swiper-slide {
      width: rem(190) !important; // Жёсткая ширина → всегда 3 миниатюры
      height: rem(222);
      border-radius: var(--border-radius-m);
      overflow: hidden;
      cursor: pointer;

      & .thumb-box {
        width: inherit;
        height: inherit;
      }

      & img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@include mobile{
  .product-gallery__thumbs {
    display: none;
  }
}

.thumbs-swiper-button-prev,
.thumbs-swiper-button-next {
  position: absolute;
  width: rem(32);
  height: 100%;
  top: 0;
  z-index: 10;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}

.thumbs-swiper-button-prev { left: 0; }
.thumbs-swiper-button-next { right: 0; }

.swiper-pagination-bullet {
  background: rgba(38, 38, 38, 0.4);

  &-active {
    background: transparent;
    border: 2px solid var(--color-black);
    width: rem(10);
    height: rem(10);
  }
}
