@use '../../styles/helpers' as *;


.slider-arrow {
  position: absolute;
  top: 45%;
  z-index: 10;
  cursor: pointer;

  &--prev { left: rem(24); transform: translateY(-50%); @include mobile { @include hide } }
  &--next { right: rem(24); transform: translateY(-50%); @include mobile { @include hide } }
}
