@use '../../styles/helpers' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: fluid(40, 24);
  padding: fluid(40, 24);
  background-color: var(--color-black-05);
  width: 100%;
  border-radius: var(--border-radius-m);
  font-weight: 400;

  @include mobile {
    border-radius: var(--border-radius-s);
  }

  &__groups {
    display: flex;
    flex-direction: column;
    gap: fluid(16, 10);
  }

  &__group {
    width: 100%;

    & input, & label {
      width: 100%;
    }

    & input {
      @include fluid-text(16, 14);
      padding-block: rem(14) rem(16);
      border-bottom: var(--border);
    }
   }

  &__checkbox {
    display: flex;
    gap: rem(8);
    align-items: center;

    & label {
      @include fluid-text(16, 12);
    }

    @include laptop {
      align-items: flex-start;

      & input {
        padding-top: rem(2);
      }
    }
  }

  &__link {
    @include fluid-text(16, 12);
  }

  &__submit {
    display: flex;
    flex-direction: column;
    gap: fluid(16, 10);
    width: 100%;

    & label {
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
  }
}
