@use '../../styles/helpers' as *;

.product-accordion {
  border-top: 1px solid #e3e3e3;

  &__item {
    border-bottom: 1px solid #e3e3e3;

    &.is-open .product-accordion__icon {
      transform: rotate(45deg); // из + делаем ×
    }
  }

  &__header {
    @include fluid-text(20, 16);

    width: 100%;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__icon {
    width: 14px;
    height: 14px;
    position: relative;
    transition: transform 0.2s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      inset: 50%;
      width: 14px;
      height: 1.5px;
      background: #000;
      transform: translate(-50%, -50%);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s ease;

    p {
      @include fluid-text(16, 15);
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 130%;

      & strong {
        font-weight: 600;
      }
    }

    & h4 {
      @include fluid-text(20, 15);
      font-weight: 500 !important;
      margin-bottom: fluid(16, 12);
    }
  }

  &__item.is-open &__body {
    // max-height управляем из JS
    padding-bottom: 18px;
  }
}
