@use '../../styles/helpers' as *;

.hero {
  display: flex;
  width: 100%;

  &__images {
    display: flex;
    width: 100%;
    img {
      flex: 1;
      pointer-events: none;
    }
  }

  &__btn {
    @include abs-x;
    bottom: rem(80);

    @include mobile-s {
      @include abs-center;
    }
  }

}
