@use '../../styles/helpers' as *;

.hero {
  display: flex;
  width: 100%;
  height: fluid(717, 570);
  position: relative;

  @include mobile-s {
    height: rem(570);
  }

  &__images {
    display: flex;
    width: 100%;
    height: inherit;

    img {
      flex: 1;
      object-fit: cover;
      object-position: center;

      @include mobile-s-above {
        width: 33.3%;
        height: 100%;
      }

      @include mobile-s{
        height: 100%;
      }
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: rem(80);
    transform: translateX(-50%);
    z-index: 99;

    @include mobile {
      top: 50%;
      transform: translate(-50%, -50%);
      bottom: inherit;
    }
  }

}

.hero-desktop {
  @include mobile-s {
    display: none;
  }
}

.js-hero-slider {
  display: none;

  @include mobile-s{
    display: block;
  }
}

.swiper-pagination-hero {
  position: absolute;
  bottom: rem(40) !important;
  left: 50% !important;
  transform: translateX(-50%);
}
