@use '../../styles/helpers' as *;

.variations_form.cart {
  @include fluid-text(16, 15);
  display: flex;
  flex-direction: column;
  gap: rem(16);
}

.variations-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.variation-item {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.variation-label label {
  @include fluid-text(16, 15);
  font-weight: 500;
}

.variation-value {
  position: relative;
  display: flex;
  gap: rem(8);
  align-items: center;

  &::after {
    content: '';
    display: block;
    width: rem(12);
    height: rem(6);
    pointer-events: none;

    background-image: url('https://snov.group/wp-content/themes/snov-group/assets/icons/arrow-dd.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.variation-value select {
  //display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;

  cursor: pointer;
  transition: all 0.2s ease;
}

.variation-value select {
  @include fluid-text(16, 15);
  font-weight: 400;
  outline: none;
  box-shadow: none;
}

.variation-value select option:hover {
  color: (--color-pink);
}

.variation-value select:focus {
  border: none;
}

.woocommerce-variation-description {
  @include fluid-text(16, 15);
  font-weight: 400;
  color: (--color-black);

  & strong {
    font-weight: 500;
  }
}

.product-page .woocommerce-variation.single_variation {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.single_variation_wrap {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.woocommerce-message {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -9999px;
}

