@use 'helpers' as *;

html {
  height: 100%;
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black);
  background-color: var(--color-white);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-black);
}

h1, .h1 {
  @include fluid-text(58, 28);

  font-weight: 700;
}

h2, .h2 {
  @include fluid-text(40, 20);

  font-weight: 700;
  text-transform: uppercase;
}

.h2 {

  &--white {
    color: var(--color-white);
  }

  &--large {
    @include fluid-text(52, 26);
  }
}

h3, .h3 {
  @include fluid-text(20, 16);

  font-weight: 700;
}

h4, .h4 {
  @include fluid-text(24, 18);

  font-weight: 600;
}

h5, .h5 {
  @include fluid-text(22, 18);

  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(20, 16);

  font-weight: 600;
}

.p {

  &--pink {
    color: var(--color-pink);
  }

  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-pink);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}

.color {

  &--pink {
    color: var(--color-pink);
  }
}
