// start build
@use './helpers' as *;
@use './normalize.css';
@use './fonts.scss';
@use './variables.scss';
@use './utils.scss';
@use './globals.scss';

// components
@use '../components/Header/header.scss';
@use '../components/Logo/logo.scss';
@use '../components/BurgerButton/burger-button.scss';
@use '../components/Button/button.scss';
@use '../components/Slider/slider.scss';
@use '../components/SectionTitle/section-title.scss';
@use '../components/ImageBlock/image-block.scss';
@use '../components/Footer/footer.scss';
@use '../components/Link/link.scss';
@use '../components/Contact/contact.scss';
@use '../components/ArrowUp/arrow-up.scss';
@use '../components/Bullit/bullit.scss';
@use '../components/Advantages/advantages.scss';
@use '../components/Form/form.scss';
@use '../components/ProductsSlider/products-slider.scss';
@use '../components/ProductCard/product-card.scss';
@use '../components/SingleProduct/single-product.scss';
@use '../components/ProductAccordion/product-accordion.scss';
@use '../components/WoocommerceBreadcrumb/woocommerce-breadcrumb.scss';
@use '../components/Variations/variations.scss';
@use '../components/ProductColorList/product-color-list.scss';
@use '../components/DeliveryTable/delivery-table.scss';
@use '../components/ProductSizeSelect/product-size-select.scss';
@use '../components/Parameters/parameters.scss';
@use '../components/ProductGallery/product-gallery.scss';
@use '../components/Products/products.scss';
@use '../components/BeddingComponents/bedding-components.scss';
@use '../components/Catalog/catalog.scss';
@use '../components/Cart/cart.scss';
@use '../components/Error404/custom-error-404.scss';
@use '../components/Order/order.scss';
@use '../components/Thankyou/thankyou.scss';

// blocks
@use '../blocks/Hero/hero.scss';
@use '../blocks/Complect/complect.scss';
@use '../blocks/Snov/snov.scss';
@use '../blocks/CompanyDetails/company-details.scss';
@use '../blocks/GiftCert/gift-cert.scss';
@use '../blocks/Callback/callback.scss';
@use '../blocks/About/about.scss';
@use '../blocks/ThreeImages/three-images.scss';
@use '../blocks/CatalogHero/catalog-hero.scss';

