@use '../../styles/helpers' as *;

.product-color-list {
  display: flex;
  align-items: center;
  gap: rem(12);
  flex-wrap: wrap;
  width: 100%;

  .product-color-item {
    @include fluid-text(16, 14);

    display: flex;
    align-items: center;
    gap: rem(6);
    padding: rem(7) rem(10);
    background: #fff;
    border-radius: 999px;

    color: var(--color-black);
    font-weight: 400;
    border: 1px solid transparent;
    transition: 0.2s ease;
    opacity: 0.5;

    .dot {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      border: 1px solid rgba(0,0,0,0.1);
    }

    &.active {
      border-color: var(--color-black);
      opacity: 1;
    }

    &:hover {
      border: 1px solid var(--color-black);
      opacity: 1;
    }
  }
}
