@use '../../styles/helpers' as *;

.gift-certificate{
  display: flex;
  width: 100%;

  @include tablet {
    flex-direction: column;
    order: 2;
  }

  &__image {
    flex: 1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include tablet{
        height: fluid(600, 411);
      }
    }
  }

  &__main-content {
    flex: 1;
    background-color: var(--color-black-05);
    padding-block: rem(40);
    padding-inline: rem(40);

    @include tablet {
      padding-inline: var(--container-padding-x);
      width: 100%;
      order: -1;
    }

  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: fluid(32, 24);
    max-width: rem(600);
  }

  &__h2 {
    max-width: rem(450);
  }

  &__paragraph {
    @include fluid-text(16, 15);
    font-weight: 400;
  }

  &__bullits {
    display: flex;
    flex-direction:   column;
    gap: rem(10);
  }

}
