@use '../../styles/helpers' as *;

.btn {
  @include flex-center(true);

  padding-block: rem(13);
  padding-inline: rem(30);
  background-color: var(--color-pink);
  color: var(--color-white);
  font-size: rem(16);
  font-weight: 700;
  border-radius: var(--border-radius-l);

  @include hover {
    color: var(--color-pink);
    background-color: var(--color-white);
    border-color: 1px solid var(--color-pink);
  }

  &--white{
    color: var(--color-pink);
    background-color: var(--color-white);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-pink);
    }
  }
}
