@use '../../styles/helpers' as *;

.three-images {
  display: flex;
  width: 100%;

  &__images {
    display: flex;
    width: 100%;
    img {
      flex: 1;
      pointer-events: none;
    }
  }

}
