@use '../../styles/helpers' as *;

.thankyou {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-m);
  gap: rem(24);
  background-color: var(--color-black-05);
  margin-top: fluid(60, 32);
  padding: fluid(40, 24);
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: var(--container-padding-x);

  @include mobile {
    border-radius: var(--border-radius-s);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: rem(32);

    & p {
      @include fluid-text(16, 15);
      font-weight: 400;
      max-width: rem(556);
    }

    & a {
      max-width: rem(390);
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-gray);
  }

  &__btn {
    @include fluid-text(16, 14);
    max-width: inherit;
    width: 100%;
  }
}