@use '../../styles/helpers' as *;
@use '../Button/button.scss';

.product-page {
  display: flex;
  flex-direction: column;
  gap: fluid(60, 32);
  background-color: var(--color-black-05);
  padding-block: fluid(38, 24) fluid(80, 50);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(40);

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: rem(40);

  &__header {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    font-weight: 600;
    position: relative;

    @include mobile {
      gap: rem(20);
    }



    &--inner {
      display: flex;
      flex-direction: column;
      gap: rem(1);

      @include mobile {
        gap: rem(8);
      }
    }
  }

  &__category {
    @include fluid-text(14, 12);
  }

  &__title {
    @include fluid-text(40, 20);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    @include fluid-text(40, 20);
    font-weight: 600;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__desc {
    @include fluid-text(16, 15);
    display: flex;
    flex-direction: column;
    gap: rem(16);

    & strong {
      font-weight: 500 !important;
    }
  }

  &__colors {
    @include fluid-text(16, 15);

    display: flex;
    flex-direction: column;
    gap: fluid(16, 8);
    width: 100%;

    font-weight: 600;
  }

  &__short {
    @include fluid-text(16, 15);
    max-width: rem(440);
    font-weight: 500;
  }

  &__row {
    display: flex;
    margin-bottom: 10px;

    .label { width: 110px; color: #666; }
    .value { font-weight: 500; }
  }

  &__cart {

    button {
      width: 100%;

      @extend .btn;
    }
  }
}

.quantity {
  display: none !important;
}

