@use '../../styles/helpers' as *;
@use '../Button/button.scss';

.product-page {
  display: flex;
  flex-direction: column;
  gap: fluid(60, 32);
  padding-block: fluid(38, 24) fluid(80, 50);
  background-color: var(--color-black-05);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(40);

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__left-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-width: 0;
  }
}


.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: rem(40);

  &__header {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    font-weight: 600;
    position: relative;

    @include mobile {
      gap: rem(20);
    }



    &--inner {
      display: flex;
      flex-direction: column;
      gap: rem(1);

      @include mobile {
        gap: rem(8);
      }
    }
  }

  &__category {
    @include fluid-text(14, 12);
    @include mobile-s {
      max-width: rem(100);
    }
  }

  &__title {
    @include fluid-text(40, 20);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__price {
    @include fluid-text(40, 20);
    font-weight: 600;

    & .price-new .price {

      display: flex;
      gap: fluid(10, 4);
      align-items: center;
      font-weight: 500;

      & del {
        @include fluid-text(32, 14);
        opacity: 0.5;
        order: 2;
      }
      & ins {
        @include fluid-text(40, 20);
        text-decoration-line: none;
        order: 1;
      }

      & .price-discount {
        @include fluid-text(16, 10);

        order: 3;
        display: inline-flex;
        align-items: center;
        background-color: var(--color-pink);
        padding-block: rem(4);
        padding-inline: rem(4);
        color: var(--color-white);
      }
    }

    .price-old {
      @include fluid-text(16, 12);
      text-decoration: line-through;
      opacity: .5;
    }

  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__desc {
    @include fluid-text(16, 15);
    display: flex;
    flex-direction: column;
    gap: rem(16);

    & strong {
      font-weight: 500 !important;
    }
  }

  &__colors {
    @include fluid-text(16, 15);

    display: flex;
    flex-direction: column;
    gap: fluid(16, 8);
    width: 100%;

    font-weight: 600;
  }

  &__short {
    @include fluid-text(16, 15);
    max-width: rem(440);
    font-weight: 500;

    @include laptop {
      max-width: rem(300);
    }
  }

  &__row {
    display: flex;
    margin-bottom: 10px;

    .label { width: 110px; color: #666; }
    .value { font-weight: 500; }
  }

  &__cart {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    button {
      width: 100%;

      @extend .btn;
    }
  }
}

.product-page .quantity {
  display: none !important;
}

