@use '../../styles/helpers' as *;

.about {
  display: flex;
  justify-content: space-between;
  gap: fluid(80, 32);

  @include mobile {
    flex-direction: column;
  }

  &__h2 {
    @include mobile {
      order: 1;
    }
  }

  &__image {
    width: 100%;
    max-width: fluid(585, 300);
    border-radius: var(--border-radius-m);
    object-fit: cover;
    object-position: center;

    @include mobile {
      width: 100%;
      max-width: 100%;
      order: 3;
      border-radius: var(--border-radius-s);
    }

  }

  &__text-group {
    display: flex;
    flex-direction: column;
    gap: fluid(24, 16);
    width: 100%;
    max-width: rem(600);

    @include mobile {
      order: 2;
    }
  }

  &__text {
    @include fluid-text(16, 15);
    font-weight: 400;
  }

  &__author {
    font-weight: 600;
    font-style: italic;
    color: var(--color-pink);
    max-width: rem(265);
  }

}
